// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
input[type=text]{
  width: 32rem;
}

textarea {
  width: 32rem;
  height: 8rem;
}

#flow {
  ul, ol {
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
  }
  > ul, > ol {
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
  }
}
