<footer>
  <nav>
    <ul>
      <li>
        <%= link_to 'ホーム', root_path %>
      </li>
      <% if logged_in? %>
      <li>
        <%= link_to 'マイページ', user_path(current_user) %>
      </li>
      <% end %>
      <li>
        <% if logged_in? %>
        <%= link_to 'ログアウト', logout_path %>
        <% else %>
        <a href="/auth/twitter">ログイン</a>
        <% end %>
      </li>
      <li>
        <a href="https://github.com/oshinko/recipicker">GitHub</a>
      </li>
    </ul>
  </nav>
</footer>
